html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "arial";
    font-size: 12px;
}

:root {
    --darkBlue: #173F5F;
    --blue: #20639B;
    --green: #3CAEA3;
    --darkGreen: #308f85;
    --red: #ED553B;
}

header {
    display: grid;
    place-items: center;
    min-height: 10vh;
    background-color: var(--blue);
    margin-bottom: 10px;
}

.constrols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "state state"
        ". .";
}
.constrols>#sensorState {
    grid-area: state;
    text-align: center;
    font-size: 15px;
}

.btn {
    background-color: var(--green); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.btn:hover {
    background-color: var(--darkGreen);
    cursor: pointer;
}